<h3>Full Calendar App</h3>
<!-- START row-->
<div data-ng-controller="CalendarController" class="calendar-app">
   <div class="row">
      <div class="col-md-9 col-md-push-3">
         <div class="panel panel-default">
            <div class="panel-body">
               <div data-ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar" class="calendar"></div>
            </div>
         </div>
         <div class="clearfix">
            <div class="pull-right">
               <button data-ng-click="changeLang()" class="btn btn-default btn-sm">{{changeTo}}</button>
            </div>
            <div class="pull-left"></div>
         </div>
      </div>
      <div class="col-md-3 col-md-pull-9">
         <div class="panel panel-default">
            <ul class="list-group">
               <li data-ng-repeat="event in calEventsPers.events" class="list-group-item">
                  <a data-ng-click="remove($index)" class="text-sm pull-right close">
                     <em class="fa fa-times"></em>
                  </a>
                  <p class="m0">
                     <span class="inline-block wd-sm text-ellipsis">{{event.title}}</span>
                     <small class="text-muted">{{event.start | date:"MMM dd"}} - {{event.end | date:"MMM dd"}}</small>
                  </p>
               </li>
            </ul>
         </div>
         <div class="btn-switch btn-block mb btn-switch-info">
            <input type="checkbox" id="input-btn-switch-info" data-ng-click="toggleEventSource(0)" checked="isVisible(0)" />
            <label for="input-btn-switch-info" class="btn btn-block btn-info">
               <em class="fa fa-check"></em>
               <strong>Personal Calendar</strong>
            </label>
         </div>
         <div class="btn-switch btn-block mb btn-switch-warning">
            <input type="checkbox" id="input-btn-switch-warning" data-ng-click="toggleEventSource(1)" checked="isVisible(1)" />
            <label for="input-btn-switch-warning" class="btn btn-block btn-warning">
               <em class="fa fa-check"></em>
               <strong>Holiday Calendar (Google)</strong>
            </label>
         </div>
         <div class="btn-switch btn-block mb btn-switch-purple">
            <input type="checkbox" id="input-btn-switch-purple" data-ng-click="toggleEventSource(2)" checked="isVisible(2)" />
            <label for="input-btn-switch-purple" class="btn btn-block btn-purple">
               <em class="fa fa-check"></em>
               <strong>External Events (Json)</strong>
            </label>
         </div>
         <p class="text-muted">
            <small>*Click or tap into the calendar to add new events</small>
         </p>
      </div>
   </div>
</div>