<h3>Dashboard
   <small>Overview</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <p class="lead text-center">Ranking</p>
   </div>
</div>
<div data-ng-controller="AngularRankingController as table" class="row">
    <div class="col-lg-12">
        <!-- START widget-->
        <div class="panel" ng-class="ranknum < 4 ? 'bg-success': 'bg-warning'">
            <div class="panel-body text-center">
                <h4 class="mt0">{{rank}}<img height="34px" ng-hide="rank != ''" ng-src="{{loading}}" /></h4>
                <p class="mb0 text-muted">YOUR POSITION!</p>
            </div>
        </div>
        <!-- END widget-->
    </div>
    <div class="col-lg-12">
       <!-- START panel-->
       <div class="panel panel-default">
          <!-- START table-responsive-->
          <div class="table-responsive">
             <table id="table-ext-6" class="table table-bordered table-striped">
                <thead>
                   <tr>
                      <th></th>
                      <th>Username</th>
                      <th>Sessions</th>
                      <th class="visible-lg">Distance</th>
                      <th>Score</th>
                   </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="user in data">
                        <td>{{user.position}}</td>
                        <td><div class="media">
                            <div class="media-body">
                               <h4 class="media-heading">{{user.username}}</h4>
                               <span class="text-muted">Username: {{user.username}}</span>
                            </div>
                         </div></td>
                         <td>{{user.sessions}}</td>
                         <td class="visible-lg">{{user.distance}}</td>
                         <td>{{user.score}}</td>
                    </tr>
                </tbody>
             </table>
          </div>
          <!-- END table-responsive-->
       </div>
       <!-- END panel-->
    </div>
 </div>