<h3>Dashboard
   <small>This is your dashboard</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div data-ng-controller="AngularTableController as table" class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Filters</div>
            </div>
            <table data-ng-table="table.tableParams2" show-filter="true" class="table table-bordered table-striped">
                <tbody>
                    <tr data-ng-repeat="session in $data">
                    <td data-title="'StartPoint'" filter="{ 'startpoint': 'text' }">{{session.startpoint}}<img height="44px" ng-hide="session.startpoint != ''" ng-src="{{session.imagePath}}" /></td>
                    <td data-title="'EndPoint'" filter="{ 'endpoint': 'text' }">{{session.endpoint}}<img height="44px" ng-hide="session.endpoint != ''" ng-src="{{session.imagePath}}" /></td>
                    <td data-title="'Date'" filter="{ 'date': 'text' }">{{session.sessionid*1000 | date : 'dd/MM/yyyy HH:mm'}}</td>
                    <td data-title="ff"><a href="{{session.link_x}}" target="_blank">Lateral</a></td>
                    <td data-title="''"><a href="{{session.link_y}}" target="_blank">Vertical</a></td>
                    <td data-title="''"><a href="{{session.link_z}}" target="_blank">Frontal</a></td>
                    <td data-title="''"><a href="{{session.link_speed}}" target="_blank">speed</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
   </div>
</div>