<h3>Panels</h3>
<!-- START row-->
<div class="row">
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">Default Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-primary">
         <div class="panel-heading">Primary Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-success">
         <div class="panel-heading">Success Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
</div>
<div class="row">
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-info">
         <div class="panel-heading">Info Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-warning">
         <div class="panel-heading">Warning Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-danger">
         <div class="panel-heading">Danger Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
</div>
<div class="row">
   <div class="col-lg-3">
      <!-- START panel-->
      <div class="panel panel-turquoise">
         <div class="panel-heading">Turquoise Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-3">
      <!-- START panel-->
      <div class="panel panel-pink">
         <div class="panel-heading">Pink Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-3">
      <!-- START panel-->
      <div class="panel panel-purple">
         <div class="panel-heading">Purple Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-3">
      <!-- START panel-->
      <div class="panel panel-orange">
         <div class="panel-heading">Orange Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
</div>
<!-- END row-->
<div class="row">
   <div class="col-lg-3">
      <!-- START widget-->
      <div class="panel bg-danger">
         <div class="panel-body text-center">
            <h4 class="mt0">100%</h4>
            <p class="mb0 text-muted">VOLUME</p>
         </div>
      </div>
      <!-- END widget-->
   </div>
   <div class="col-lg-3">
      <!-- START widget-->
      <div class="panel bg-inverse">
         <div class="panel-body text-center">
            <h4 class="mt0">150</h4>
            <p class="mb0 text-muted">FORKS</p>
         </div>
      </div>
      <!-- END widget  -->
   </div>
   <div class="col-lg-3">
      <!-- START widget-->
      <div class="panel bg-success">
         <div class="panel-body text-center">
            <h4 class="mt0">150</h4>
            <p class="mb0 text-muted">FORKS</p>
         </div>
      </div>
      <!-- END widget-->
   </div>
   <div class="col-lg-3">
      <!-- START widget-->
      <div class="panel bg-primary">
         <div class="panel-body text-center">
            <h4 class="mt0">10</h4>
            <p class="mb0 text-muted">NEW MESSAGES</p>
         </div>
      </div>
      <!-- END widget    -->
   </div>
</div>