<button type="button" reset-key="portletState" class="pull-right btn btn-labeled btn-default btn-sm">
   <span class="btn-label">
      <em class="fa fa-refresh"></em>
   </span>Reset</button>
<h3>Portlets</h3>
<div class="container-fluid">
   <!-- START row-->
   <div class="row">
      <div id="portlet-1" portlet="" class="col-lg-4">
         <!-- START widget-->
         <div id="panelPortlet9" class="panel bg-purple">
            <div class="panel-body text-center portlet-handler">
               <h4 class="mt0">5555</h4>
               <p class="mb0 text-white">VISITORS</p>
            </div>
         </div>
         <!-- END widget-->
         <!-- START panel-->
         <div id="panelPortlet12" class="panel panel-purple">
            <div class="panel-heading portlet-handler">Purple Panel</div>
            <div class="panel-body">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
         </div>
         <!-- END panel-->
         <!-- START widget-->
         <div id="panelPortlet10" class="panel bg-pink">
            <div class="panel-body text-center portlet-handler">
               <h4 class="mt0">999</h4>
               <p class="mb0 text-white">INCOME</p>
            </div>
         </div>
         <!-- END widget-->
         <!-- START widget-->
         <div id="panelPortlet4" class="panel panel-default b0">
            <div class="portlet-handler">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 bg-danger text-center">
                     <em class="fa fa-user fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">50k</h4>
                        <p class="mb0 text-muted">USERS</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END widget-->
         <!-- START panel-->
         <div id="panelPortlet6" class="panel panel-info">
            <div class="panel-heading portlet-handler">Info Panel</div>
            <div class="panel-body">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
         </div>
         <!-- END panel-->
         <!-- START widget-->
         <div id="panelPortlet5" class="panel panel-default b0">
            <div class="portlet-handler">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 bg-inverse text-center">
                     <em class="fa fa-exclamation fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">1500</h4>
                        <p class="mb0 text-muted">ALERTS</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END widget-->
      </div>
      <div id="portlet-2" portlet="" class="col-lg-4">
         <!-- START panel-->
         <div id="panelPortlet13" class="panel panel-info">
            <div class="panel-heading portlet-handler">Turquoise Panel</div>
            <div class="panel-body">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
         </div>
         <!-- END panel-->
         <!-- START widget-->
         <div id="panelPortlet15" class="panel bg-primary">
            <div class="panel-body text-center portlet-handler">
               <h4 class="mt0">10</h4>
               <p class="mb0 text-white">NEW MESSAGES</p>
            </div>
         </div>
         <!-- END widget-->
         <!-- START panel-->
         <div id="panelPortlet2" class="panel panel-primary">
            <div class="panel-heading portlet-handler">Primary Panel</div>
            <div collapse="panelPortlet2" class="panel-wrapper">
               <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
               </div>
            </div>
         </div>
         <!-- END panel-->
         <!-- START panel-->
         <div id="panelPortlet3" class="panel panel-success">
            <div class="panel-heading portlet-handler">Success Panel</div>
            <div class="panel-body">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
         </div>
         <!-- END panel-->
         <!-- START widget-->
         <div id="panelPortlet14" class="panel bg-info">
            <div class="panel-body text-center portlet-handler">
               <h4 class="mt0">100</h4>
               <p class="mb0 text-white">TASKS</p>
            </div>
         </div>
         <!-- END widget-->
      </div>
      <div id="portlet-3" portlet="" class="col-lg-4">
         <!-- START panel-->
         <div id="panelPortlet8" class="panel panel-danger">
            <div class="panel-heading portlet-handler">Danger Panel</div>
            <div class="panel-body">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
         </div>
         <!-- END panel-->
         <!-- START panel-->
         <div id="panelPortlet1" class="panel panel-default">
            <div class="panel-heading portlet-handler">Default Panel</div>
            <div collapse="panelPortlet1" class="panel-wrapper">
               <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
               </div>
            </div>
         </div>
         <!-- END panel-->
         <!-- START panel-->
         <div id="panelPortlet11" class="panel panel-inverse">
            <div class="panel-heading portlet-handler">Inverse Panel</div>
            <div class="panel-body">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
         </div>
         <!-- END panel-->
         <!-- START panel-->
         <div id="panelPortlet7" class="panel panel-warning">
            <div class="panel-heading portlet-handler">Warning Panel</div>
            <div class="panel-body">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
         </div>
         <!-- END panel-->
      </div>
   </div>
   <!-- END row-->
</div>