<h3>Report
    <small>Review your session</small>
</h3>

<div data-ng-controller="GoogleMapControllerNew as gmap" class="container-fluid">

    <div class="row" ng-hide="!data.session">
        <div class="col-md-12">
            <div class="">
                <div class="panel panel-default text-center">
                    <div class="panel-body">

                        <div class="p mc bg-turquoise">
                            <div class="text-md">{{data.totalScore}}
                            </div>
                            <div class="text-muted">total points</div>
                        </div>
                        <ul class="list-unstyled">
                            <li class="bb pv">
                                <em class="text-muted">From:</em> {{data.startPoint}}
                            </li>
                            <li class="bb pv">
                                <em class="text-muted">To:</em> {{data.endPoint}}
                            </li>
                            <li class="bb pv">
                                <em class="text-muted">Total Distance:</em> {{data.totalDistance}}
                            </li>
                            <li class="bb pv">
                                <em class="text-muted">Average Speed:</em> {{data.averageSpeed}}
                            </li>
                            <li class="bb pv">
                                <em class="text-muted">Duration:</em> {{data.duration}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <div class="panel-title">
                        Did you drive well?
                    </div>
                </div>
                <!-- List group -->
                <ul class="list-group text-center">
                    <li class="list-group-item">
                        <div class="media">
                            <a href="#" class="media-left media-middle text-muted">
                                    <em class="fa fa-tachometer fa-2x"></em>
                                </a>
                            <div class="media-body">
    
                                <div class="text-md">Your score is {{data.percent}}/100</div>
                                <div class="progress-xs progress ng-isolate-scope" value="{{data.percent}}" type="{{data.percent < 20 ? 'danger' : data.percent < 70 ? 'warning':'success'}}">
                                    <div class="progress-bar" ng-class="data.percent < 20 ? 'progress-bar-danger' : data.percent < 70 ? 'progress-bar-warning':'progress-bar-success'"
                                        role="progressbar" aria-valuenow="{{data.percent}}" aria-valuemin="0" aria-valuemax="100"
                                        ng-style="{width: (data.percent < 100 ? data.percent : 100) + '%'}" aria-valuetext="{{data.percent}}%"
                                        style="min-width: 0px; width: 100%;">
                                    </div>
                                </div>
                            </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="">
                <div class="panel panel-default text-center">

                    <div class="panel-heading">
                        <div class="panel-title">Acceleration X Map</div>
                    </div>

                    <div class="gmap">
                        <iframe src="{{data.link_x}}" class="iframe"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="">
                <div class="panel panel-default text-center">

                    <div class="panel-heading">
                        <div class="panel-title">Acceleration Y Map</div>
                    </div>

                    <div class="gmap">
                        <iframe src="{{data.link_y}}" class="iframe"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="">
                <div class="panel panel-default text-center">

                    <div class="panel-heading">
                        <div class="panel-title">Acceleration Z Map</div>
                    </div>

                    <div class="gmap">
                        <iframe src="{{data.link_z}}" class="iframe"/>
                    </div>
                </div>
            </div>
        </div>

        <!--div class="col-lg-6 col-md-6 col-sm-12">
            <div class="">
                <div class="panel panel-default text-center">

                    <div class="panel-heading">
                        <div class="panel-title">Speed Map</div>
                    </div>

                    <div class="gmap">
                        <iframe src="{{data.link_speed}}" class="iframe"/>
                    </div>
                </div>
            </div>
        </div-->


    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">


                <div class="panel-heading">
                    <div class="panel-title">Select a report</div>
                </div>

                <div class="panel-body text-center">
                    <p>Please select a report from the list.</p><a ui-sref="app.charts" class="btn btn-primary">List Of Sessions</a>
                </div>
            </div>
        </div>
    </div>
</div>
