<h3>Search</h3>
<form>
   <div class="form-group mb-xl">
      <div class="input-group">
         <input type="text" class="form-control" />
         <span class="input-group-btn">
            <button type="button" class="btn btn-default">Search!</button>
         </span>
      </div>
   </div>
</form>
<div class="row">
   <div class="col-lg-3">
      <hr class="mt0" />
      <h4 class="m0 pb-lg">Categories found</h4>
      <ul class="list-inline">
         <li class="mv-sm"><a href="#" class="btn btn-info btn-sm">pharetra nibh</a>
         </li>
         <li class="mv-sm"><a href="#" class="btn btn-info btn-sm">ipsum</a>
         </li>
         <li class="mv-sm"><a href="#" class="btn btn-info btn-sm">dignissim</a>
         </li>
         <li class="mv-sm"><a href="#" class="btn btn-info btn-sm">Duis ultricies</a>
         </li>
         <li class="mv-sm"><a href="#" class="btn btn-info btn-sm">libero</a>
         </li>
         <li class="mv-sm"><a href="#" class="btn btn-info btn-sm">laoreet</a>
         </li>
         <li class="mv-sm"><a href="#" class="btn btn-info btn-sm">fringilla</a>
         </li>
      </ul>
      <hr/>
      <h4 class="m0 pb-lg">Search on</h4>
      <div class="form-group mb-xl">
         <div class="checkbox c-checkbox">
            <label>
               <input id="inlineCheckbox10" type="checkbox" value="option1" />
               <span class="fa fa-check"></span>Products Availables</label>
         </div>
         <div class="checkbox c-checkbox">
            <label>
               <input id="inlineCheckbox20" type="checkbox" value="option2" />
               <span class="fa fa-check"></span>People Directory</label>
         </div>
         <div class="checkbox c-checkbox">
            <label>
               <input id="inlineCheckbox30" type="checkbox" value="option3" />
               <span class="fa fa-check"></span>Application Store</label>
         </div>
      </div>
      <div class="text-right">
         <button type="button" class="btn btn-sm btn-default">Apply</button>
      </div>
      <hr/>
   </div>
   <div class="col-lg-9">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <button class="pull-right btn btn-xs btn-default">Clear</button>500 results found for:
            <span class="text-success">"Bootstrap + AngularJS"</span>
            <paneltool tool-refresh="traditional"></paneltool>
         </div>
         <!-- START table-responsive-->
         <div class="table-responsive">
            <table class="table">
               <tbody>
                  <tr>
                     <td>
                        <div class="media">
                           <a href="#" class="pull-left">
                              <img src="app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64" />
                           </a>
                           <div class="media-body">
                              <h4 class="media-heading"> <a href="#" class="text-inverse">Curabitur pulvinar tristique bibendum. </a>
                              </h4>
                              <p class="text-muted">Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.</p><a href="#" class="mr label label-primary">item label 1 </a><a href="#" class="mr label label-primary">tag2</a>
                              <a
                              href="#" class="mr label label-primary">some category</a>
                           </div>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div class="media">
                           <a href="#" class="pull-left">
                              <img src="app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64" />
                           </a>
                           <div class="media-body">
                              <h4 class="media-heading"> <a href="#" class="text-inverse">Curabitur pulvinar tristique bibendum. </a>
                              </h4>
                              <p class="text-muted">Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.</p><a href="#" class="mr label label-primary">item label 1 </a><a href="#" class="mr label label-primary">some category</a>
                           </div>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div class="media">
                           <a href="#" class="pull-left">
                              <img src="app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64" />
                           </a>
                           <div class="media-body">
                              <h4 class="media-heading"> <a href="#" class="text-inverse">Etiam feugiat risus massa. </a>
                              </h4>
                              <p class="text-muted">Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.</p><a href="#" class="mr label label-primary">item label 1 </a><a href="#" class="mr label label-primary">some category</a>
                           </div>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div class="media">
                           <a href="#" class="pull-left">
                              <img src="app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64" />
                           </a>
                           <div class="media-body">
                              <h4 class="media-heading"> <a href="#" class="text-inverse">Curabitur pulvinar tristique bibendum. </a>
                              </h4>
                              <p class="text-muted">Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.</p><a href="#" class="mr label label-primary">item label 1 </a><a href="#" class="mr label label-primary">tag2</a>
                           </div>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div class="media">
                           <a href="#" class="pull-left">
                              <img src="app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64" />
                           </a>
                           <div class="media-body">
                              <h4 class="media-heading"> <a href="#" class="text-inverse">Nullam ultricies, urna ac aliquet fringilla, eros velit vehicula elit, at faucibus velit erat eu ante. </a>
                              </h4>
                              <p class="text-muted">Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.</p><a href="#" class="mr label label-primary">tag2</a><a href="#" class="mr label label-primary">some category</a>
                           </div>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div class="media">
                           <a href="#" class="pull-left">
                              <img src="app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64" />
                           </a>
                           <div class="media-body">
                              <h4 class="media-heading"> <a href="#" class="text-inverse">Curabitur pulvinar tristique bibendum. </a>
                              </h4>
                              <p class="text-muted">Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.</p><a href="#" class="mr label label-primary">tag2</a><a href="#" class="mr label label-primary">some category</a>
                           </div>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <!-- END table-responsive-->
         <div class="panel-footer">
            <ul class="pagination pagination-sm">
               <li class="active"><a href="#">1</a>
               </li>
               <li><a href="#">2</a>
               </li>
               <li><a href="#">3</a>
               </li>
               <li><a href="#">4</a>
               </li>
               <li><a href="#">»</a>
               </li>
            </ul>
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>