<div class="contacts">
   <!-- this clikable element is required to go back to the sidebar menu items-->
   <div class="p sidebar-close clickable">
      <em data-ng-class="(app.layout.isRTL)? 'fa-angle-right' : 'fa-angle-left'" class="fa mr-lg"></em>
      <span class="text-bold">Contacts</span>
   </div>
   <div class="p">
      <ul class="list-block">
         <li class="media">
            <div class="pull-left">
               <!-- Contact avatar-->
               <div class="point-pin">
                  <a href="#">
                     <img src="app/img/user/05.jpg" alt="Image" class="media-object img-circle thumb40" />
                  </a>
                  <div class="point point-success point-lg"></div>
               </div>
            </div>
            <!-- Contact info-->
            <div class="media-body">
               <div class="media-heading"><a href="#" class="text-white">Juan Sims</a>
                  <br/>
                  <small class="text-muted">Designeer</small>
               </div>
            </div>
         </li>
         <!-- END User status-->
         <!-- START User status-->
         <li class="media">
            <div class="pull-left">
               <!-- Contact avatar-->
               <div class="point-pin">
                  <a href="#">
                     <img src="app/img/user/06.jpg" alt="Image" class="media-object img-circle thumb40" />
                  </a>
                  <div class="point point-success point-lg"></div>
               </div>
            </div>
            <!-- Contact info-->
            <div class="media-body">
               <div class="media-heading"><a href="#" class="text-white">Maureen Jenkins</a>
                  <br/>
                  <small class="text-muted">Designeer</small>
               </div>
            </div>
         </li>
         <!-- END User status-->
         <!-- START User status-->
         <li class="media">
            <div class="pull-left">
               <!-- Contact avatar-->
               <div class="point-pin">
                  <a href="#">
                     <img src="app/img/user/07.jpg" alt="Image" class="media-object img-circle thumb40" />
                  </a>
                  <div class="point point-danger point-lg"></div>
               </div>
            </div>
            <!-- Contact info-->
            <div class="media-body">
               <div class="media-heading"><a href="#" class="text-white">Billie Dunn</a>
                  <br/>
                  <small class="text-muted">Designeer</small>
               </div>
            </div>
         </li>
         <!-- END User status-->
         <!-- START User status-->
         <li class="media">
            <div class="pull-left">
               <!-- Contact avatar-->
               <div class="point-pin">
                  <a href="#">
                     <img src="app/img/user/08.jpg" alt="Image" class="media-object img-circle thumb40" />
                  </a>
                  <div class="point point-warning point-lg"></div>
               </div>
            </div>
            <!-- Contact info-->
            <div class="media-body">
               <div class="media-heading"><a href="#" class="text-white">Tomothy Roberts</a>
                  <br/>
                  <small class="text-muted">Designer</small>
               </div>
            </div>
         </li>
         <!-- END User status-->
         <li>
            <hr/>
         </li>
         <!-- START User status-->
         <li class="media">
            <div class="pull-left">
               <!-- Contact avatar-->
               <div class="point-pin">
                  <a href="#">
                     <img src="app/img/user/02.jpg" alt="Image" class="media-object img-circle thumb40" />
                  </a>
                  <div class="point point-lg"></div>
               </div>
            </div>
            <!-- Contact info-->
            <div class="media-body">
               <div class="media-heading"><a href="#" class="text-white">Lawrence Robinson</a>
                  <br/>
                  <small class="text-muted">Developer</small>
               </div>
            </div>
         </li>
         <!-- END User status-->
         <!-- START User status-->
         <li class="media">
            <div class="pull-left">
               <!-- Contact avatar-->
               <div class="point-pin">
                  <a href="#">
                     <img src="app/img/user/01.jpg" alt="Image" class="media-object img-circle thumb40" />
                  </a>
                  <div class="point point-lg"></div>
               </div>
            </div>
            <!-- Contact info-->
            <div class="media-body">
               <div class="media-heading"><a href="#" class="text-white">Tyrone Owens</a>
                  <br/>
                  <small class="text-muted">Designer</small>
               </div>
            </div>
         </li>
         <!-- END User status-->
      </ul>
      <br/>
      <div class="text-center"><a href="#" class="btn btn-info btn-sm">View all contacts</a>
      </div>
   </div>
</div>