<!-- START Top Navbar-->
<nav role="navigation" data-ng-controller="HeaderNavController" class="navbar topnavbar">
   <!-- START navbar header-->
   <div data-ng-class="app.theme.brand" class="navbar-header">
      <a ui-sref="app.dashboard" class="navbar-brand">
         <img src="app/img/logo.png" alt="App Logo" class="brand-logo" />
         <img src="app/img/logo-single.png" alt="App Logo" class="brand-logo-collapsed" />
      </a>
      <!-- Mobile buttons-->
      <div class="mobile-toggles">
         <!-- Button to show/hide the header menu on mobile. Visible on mobile only.-->
         <a href="#" toggle-state="hmenu-toggled" no-persist="no-persist" data-ng-click="toggleHeaderMenu()" class="menu-toggle">
            <em class="fa fa-cog"></em>
         </a>
         <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
         <a href="#" toggle-state="aside-toggled" no-persist="no-persist" class="sidebar-toggle">
            <em class="fa fa-navicon"></em>
         </a>
      </div>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div collapse="headerMenuCollapsed" class="nav-wrapper collapse navbar-collapse">
      <!-- START Left navbar-->
      <ul class="nav navbar-nav">
         <li>
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a href="#" data-ng-click="app.sidebar.isCollapsed = !app.sidebar.isCollapsed" class="hidden-xs">
               <em data-ng-class="app.sidebar.isCollapsed ? 'fa-caret-right':'fa-caret-left'" class="fa"></em>
            </a>
         </li>
      </ul>
      <!-- END Left navbar-->
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <li class="visible-lg">
            <a href="#" toggle-fullscreen="toggle-fullscreen">
               <em class="fa fa-expand"></em>
            </a>
         </li>
         <!-- START lock screen-->
         <li>
            <a ui-sref="page.lock" title="Lock screen">
               <em class="icon-lock fa-fw"></em>
               <span class="visible-xs-inline ml">Lock Screen</span>
            </a>
         </li>
         <!-- END lock screen-->


         <!-- END Alert menu-->
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->

</nav>
<!-- END Top Navbar-->