.contacts
  // this clikable element is required to go back to the sidebar menu items
  .p.sidebar-close.clickable
    em.fa.mr-lg(ng-class="(app.layout.isRTL)? 'fa-angle-right' : 'fa-angle-left'")
    span.text-bold Contacts

  .p
    ul.list-block
      li.media
        .pull-left
          // Contact avatar
          .point-pin
            a(href="#")
              img.media-object.img-circle.thumb40(src='app/img/user/05.jpg', alt="Image")
            .point.point-success.point-lg
        // Contact info
        .media-body
          .media-heading
            a(href="#").text-white Juan Sims
            br
            small.text-muted Designeer
      // END User status
      // START User status
      li.media
        .pull-left
          // Contact avatar
          .point-pin
            a(href="#")
              img.media-object.img-circle.thumb40(src='app/img/user/06.jpg', alt="Image")
            .point.point-success.point-lg
        // Contact info
        .media-body
          .media-heading
            a(href="#").text-white Maureen Jenkins
            br
            small.text-muted Designeer
      // END User status
      // START User status
      li.media
        .pull-left
          // Contact avatar
          .point-pin
            a(href="#")
              img.media-object.img-circle.thumb40(src='app/img/user/07.jpg', alt="Image")
            .point.point-danger.point-lg
        // Contact info
        .media-body
          .media-heading
            a(href="#").text-white Billie Dunn
            br
            small.text-muted Designeer
      // END User status
      // START User status
      li.media
        .pull-left
          // Contact avatar
          .point-pin
            a(href="#")
              img.media-object.img-circle.thumb40(src='app/img/user/08.jpg', alt="Image")
            .point.point-warning.point-lg
        // Contact info
        .media-body
          .media-heading
            a(href="#").text-white Tomothy Roberts
            br
            small.text-muted Designer
      // END User status
      li
        hr
      // START User status
      li.media
        .pull-left
          // Contact avatar
          .point-pin
            a(href="#")
              img.media-object.img-circle.thumb40(src='app/img/user/02.jpg', alt="Image")
            .point.point-lg
        // Contact info
        .media-body
          .media-heading
            a(href="#").text-white Lawrence Robinson
            br
            small.text-muted Developer
      // END User status
      // START User status
      li.media
        .pull-left
          // Contact avatar
          .point-pin
            a(href="#")
              img.media-object.img-circle.thumb40(src='app/img/user/01.jpg', alt="Image")
            .point.point-lg
        // Contact info
        .media-body
          .media-heading
            a(href="#").text-white Tyrone Owens
            br
            small.text-muted Designer
      // END User status
    br
    .text-center
      a(href="#").btn.btn-info.btn-sm View all contacts