<div class="center-block mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-inverse">
      <div class="panel-heading text-center">
         <img src="app/img/logo-single.png" alt="Image" class="center-block img-rounded" />
      </div>
      <div class="panel-body">
         <p class="text-center pv text-bold">LOGIN</p>
         <form  name="form" ng-submit="login()" role="form" class="mb-lg">
            <div class="form-group has-feedback">
               <input id="exampleInputEmail1" type="text" placeholder="Your Username" autocomplete="off" class="form-control" name="Username" ng-model="username" required/>
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <input id="exampleInputPassword1" type="password" placeholder="Your Password" class="form-control" name="Password" ng-model="password" required/>
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="checkbox c-checkbox pull-left mt0">
               <label>
                  <input type="checkbox" value="" />
                  <span class="fa fa-check"></span>Remember me</label>
            </div>
            <br/>            
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-block btn-info mt-lg">Login</button>
            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
         </form>
      </div>
   </div>
   <div class="text-center mt"><a ui-sref="page.recover" class="text-muted">Forgot your password?</a>
   </div>
   <!-- END panel-->
   <div data-ng-include="'app/pages/page-footer.html'" class="p-lg text-center"></div>
</div>