.abs-center.wd-xl
  img.img-circle.center-block.thumb80(ng-src="{{user.picture}}", alt="User Picture")
  br
  .text-center Type password to unlock
  form.p(role='form')
    .form-group.has-feedback
    .input-group
      input#exampleInputPassword1.form-control(type='password', placeholder='Password')
      span.input-group-btn
        button.btn.btn-info(type='button', ng-click="$state.go('app.dashboard')") 
          em.fa.fa-lock.fa-fw
  .text-center.mt-sm
    a(ui-sref="page.recover").text-muted: small Forgot your password?
  
  .p-lg.text-center(ng-include="'app/pages/page-footer.html'")