
h3  Charts

.container-fluid(ng-controller="ChartsController")
  // START row
  .row
    .col-lg-6
      .panel.panel-default
        .panel-heading
          .panel-title Area
        .panel-wrapper
          .panel-body
            flot(src="'server/chart/area.json'", options="chartAreaFlotChart", series="{'lines': areaSeries}")
            .text-center.mt-lg
              .btn-switch.mb(class="btn-switch-warning")
                input(type='checkbox', id='input-btn-switch-10', ng-model="areaSeries[0]")
                label.btn.btn-fw(for='input-btn-switch-10', class="btn-warning")
                  em.fa.fa-check
                  strong HTML
              .btn-switch.mb(class="btn-switch-orange")
                input(type='checkbox', id='input-btn-switch-11', ng-model="areaSeries[1]")
                label.btn.btn-fw(for='input-btn-switch-11', class="btn-orange")
                  em.fa.fa-check
                  strong CSS
              .btn-switch.mb(class="btn-switch-danger")
                input(type='checkbox', id='input-btn-switch-12', ng-model="areaSeries[2]")
                label.btn.btn-fw(for='input-btn-switch-12', class="btn-danger")
                  em.fa.fa-check
                  strong JS
    .col-lg-6
      .panel.panel-default
        .panel-heading
          .panel-title Spline
        .panel-wrapper
          .panel-body
            flot(src="'server/chart/spline.json'", options="chartSplineFlotChart", series="{splines: areaSplineSeries}")
            .text-center.mt-lg
              .btn-switch.mb(class="btn-switch-info")
                input(type='checkbox', id='input-btn-switch-20', ng-model="areaSplineSeries[0]")
                label.btn.btn-oval.btn-fw(for='input-btn-switch-20', class="btn-info")
                  em.fa.fa-check
                  strong VISITORS
              .btn-switch.mb(class="btn-switch-inverse")
                input(type='checkbox', id='input-btn-switch-21', ng-model="areaSplineSeries[1]")
                label.btn.btn-oval.btn-fw(for='input-btn-switch-21', class="btn-inverse")
                  em.fa.fa-check
                  strong CONVERSIONS
  // END row

  // START row
  .panel.panel-default
    .panel-heading
      .panel-title Line
    .panel-wrapper
      .panel-body
        .row
          .col-lg-8
            flot(src="'server/chart/line.json'", options="chartLineFlotChart", series="{lines: lineSeriesLines, points: lineSeriesPoints}")
          .col-lg-4
            p.lead.mt-lg Toggle Points
            .text-center
              .btn-switch(class="btn-switch-primary")
                input(type='checkbox', id='input-btn-switch-1', ng-model="lineSeriesPoints[0]")
                label.btn.btn-fw(for='input-btn-switch-1', class="btn-primary")
                  em.fa.fa-check
                  strong Serie 1
              .btn-switch(class="btn-switch-info")
                input(type='checkbox', id='input-btn-switch-2', ng-model="lineSeriesPoints[1]")
                label.btn.btn-fw(for='input-btn-switch-2', class="btn-info")
                  em.fa.fa-check
                  strong Serie 2
              .btn-switch(class="btn-switch-turquoise")
                input(type='checkbox', id='input-btn-switch-3', ng-model="lineSeriesPoints[2]")
                label.btn.btn-fw(for='input-btn-switch-3', class="btn-turquoise")
                  em.fa.fa-check
                  strong Serie 3
            p.lead.mt-lg Toggle Lines
            .text-center
              .btn-switch(class="btn-switch-primary")
                input(type='checkbox', id='input-btn-switch-4', ng-model="lineSeriesLines[0]")
                label.btn.btn-fw(for='input-btn-switch-4', class="btn-primary")
                  em.fa.fa-check
                  strong Serie 1
              .btn-switch(class="btn-switch-info")
                input(type='checkbox', id='input-btn-switch-5', ng-model="lineSeriesLines[1]")
                label.btn.btn-fw(for='input-btn-switch-5', class="btn-info")
                  em.fa.fa-check
                  strong Serie 2
              .btn-switch(class="btn-switch-turquoise")
                input(type='checkbox', id='input-btn-switch-6', ng-model="lineSeriesLines[2]")
                label.btn.btn-fw(for='input-btn-switch-6', class="btn-turquoise")
                  em.fa.fa-check
                  strong Serie 3

  // END row

  // START row
  .panel.panel-default
    .panel-heading
      .panel-title Realtime
    .panel-body
      .row
        .col-md-10
            flot(dataset="realTimeChartData", options="realTimeChartOpts", height="300")
        .col-md-2
          label Set an update interval
          input.form-control(type="text", ng-model="realTimeChartUpdateInterval")

  // START row
  .row
    .col-lg-6
      .panel.panel-transparent
        .panel-heading
          .panel-title Bar
        .panel-wrapper
          .panel-body
            flot(src="'server/chart/bar.json'", options="chartBarFlotChart")
    .col-lg-6
      .panel.panel-transparent
        .panel-heading
          .panel-title Stacked Bars
        .panel-wrapper
          .panel-body
            .indicator.show
              span.spinner
            flot(src="'server/chart/barstacked.json'", options="chartBarStackedFlotChart")
  // END row
  // START row
  .row
    .col-md-6
      .panel.panel-transparent
        .panel-heading
          .panel-title Pie
        .panel-wrapper
          .panel-body
            flot(src="'server/chart/pie.json'", options="chartPieFlotChart")
    .col-md-6
      .panel.panel-transparent
        .panel-heading
          .panel-title Donut
        .panel-wrapper
          .panel-body
            flot(src="'server/chart/donut.json'", options="chartDonutFlotChart")
  // END row

  h4.page-header Knob
  // START panel
  .panel.panel-default
    .panel-body.text-center
      .row
        .col-md-3
          .mb-lg
            knob(knob-data='knobLoaderData1', knob-options='knobLoaderOptions1', knob-max="100")
        .col-md-3
          .mb-lg
            knob(knob-data='knobLoaderData2', knob-options='knobLoaderOptions2', knob-max="100")
        .col-md-3
          .mb-lg
            knob(knob-data='knobLoaderData3', knob-options='knobLoaderOptions3', knob-max="100")
        .col-md-3
          .mb-lg
            knob(knob-data='knobLoaderData4', knob-options='knobLoaderOptions4', knob-max="100")
