h3 Panels

// START row
.row
  .col-lg-4
    // START panel
    .panel.panel-default
      .panel-heading Default Panel
      .panel-body In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros. 
      .panel-footer Panel Footer
    // END panel
  .col-lg-4
    // START panel
    .panel.panel-primary
      .panel-heading Primary Panel
      .panel-body In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros. 
      .panel-footer Panel Footer
    // END panel
  .col-lg-4
    // START panel
    .panel.panel-success
      .panel-heading Success Panel
      .panel-body In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros. 
      .panel-footer Panel Footer
    // END panel
.row
  .col-lg-4
    // START panel
    .panel.panel-info
      .panel-heading Info Panel
      .panel-body In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros. 
      .panel-footer Panel Footer
    // END panel
  .col-lg-4
    // START panel
    .panel.panel-warning
      .panel-heading Warning Panel
      .panel-body In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros. 
      .panel-footer Panel Footer
    // END panel
  .col-lg-4
    // START panel
    .panel.panel-danger
      .panel-heading Danger Panel
      .panel-body In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros. 
      .panel-footer Panel Footer
    // END panel
.row
  .col-lg-3
    // START panel
    .panel.panel-turquoise
      .panel-heading Turquoise Panel
      .panel-body In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros. 
      .panel-footer Panel Footer
    // END panel
  .col-lg-3
    // START panel
    .panel.panel-pink
      .panel-heading Pink Panel
      .panel-body In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros. 
      .panel-footer Panel Footer
    // END panel
  .col-lg-3
    // START panel
    .panel.panel-purple
      .panel-heading Purple Panel
      .panel-body In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros. 
      .panel-footer Panel Footer
    // END panel
  .col-lg-3
    // START panel
    .panel.panel-orange
      .panel-heading Orange Panel
      .panel-body In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros. 
      .panel-footer Panel Footer
    // END panel
// END row
.row
  .col-lg-3
    // START widget
    .panel.bg-danger
      .panel-body.text-center
        h4.mt0 100%
        p.mb0.text-muted VOLUME
    // END widget
  .col-lg-3
    // START widget
    .panel.bg-inverse
      .panel-body.text-center
        h4.mt0 150 
        p.mb0.text-muted FORKS
    // END widget  
  .col-lg-3
    // START widget
    .panel.bg-success
      .panel-body.text-center
        h4.mt0 150 
        p.mb0.text-muted FORKS
    // END widget
  .col-lg-3
    // START widget
    .panel.bg-primary
      .panel-body.text-center
        h4.mt0 10
        p.mb0.text-muted NEW MESSAGES
    // END widget    