button.pull-right.btn.btn-labeled.btn-default.btn-sm(type='button', reset-key="portletState")
  span.btn-label
    em.fa.fa-refresh
  | Reset

h3 Portlets

.container-fluid
  // START row
  .row
    #portlet-1.col-lg-4(portlet="")

      // START widget
      #panelPortlet9.panel.bg-purple
        .panel-body.text-center.portlet-handler
          h4.mt0 5555
          p.mb0.text-white VISITORS
      // END widget
      // START panel
      #panelPortlet12.panel.panel-purple
        .panel-heading.portlet-handler
          | Purple Panel
        .panel-body
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.

      // END panel

      // START widget
      #panelPortlet10.panel.bg-pink
        .panel-body.text-center.portlet-handler
          h4.mt0 999
          p.mb0.text-white INCOME
      // END widget
      // START widget
      #panelPortlet4.panel.panel-default.b0
        .portlet-handler
          .row.row-table.row-flush
            .col-xs-4.bg-danger.text-center
              em.fa.fa-user.fa-2x
            .col-xs-8
              .panel-body.text-center
                h4.mt0 50k
                p.mb0.text-muted USERS
      // END widget
      // START panel
      #panelPortlet6.panel.panel-info
        .panel-heading.portlet-handler
          | Info Panel
        .panel-body
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.

      // END panel
      // START widget
      #panelPortlet5.panel.panel-default.b0
        .portlet-handler
          .row.row-table.row-flush
            .col-xs-4.bg-inverse.text-center
              em.fa.fa-exclamation.fa-2x
            .col-xs-8
              .panel-body.text-center
                h4.mt0 1500
                p.mb0.text-muted ALERTS
      // END widget

    #portlet-2.col-lg-4(portlet="")
      // START panel
      #panelPortlet13.panel.panel-info
        .panel-heading.portlet-handler
          | Turquoise Panel
        .panel-body
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.

      // END panel
      // START widget
      #panelPortlet15.panel.bg-primary
        .panel-body.text-center.portlet-handler
          h4.mt0 10
          p.mb0.text-white NEW MESSAGES
      // END widget
      // START panel
      #panelPortlet2.panel.panel-primary
        .panel-heading.portlet-handler
          | Primary Panel
        .panel-wrapper(collapse="panelPortlet2")
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.

      // END panel
      // START panel
      #panelPortlet3.panel.panel-success
        .panel-heading.portlet-handler
          | Success Panel
        .panel-body
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.

      // END panel
      // START widget
      #panelPortlet14.panel.bg-info
        .panel-body.text-center.portlet-handler
          h4.mt0 100
          p.mb0.text-white TASKS
      // END widget

    #portlet-3.col-lg-4(portlet="")
      // START panel
      #panelPortlet8.panel.panel-danger
        .panel-heading.portlet-handler
          | Danger Panel
        .panel-body
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.

      // END panel
      // START panel
      #panelPortlet1.panel.panel-default
        .panel-heading.portlet-handler
          | Default Panel
        .panel-wrapper(collapse="panelPortlet1")
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.

      // END panel
      // START panel
      #panelPortlet11.panel.panel-inverse
        .panel-heading.portlet-handler
          | Inverse Panel
        .panel-body
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.

      // END panel
      // START panel
      #panelPortlet7.panel.panel-warning
        .panel-heading.portlet-handler
          | Warning Panel
        .panel-body
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.

      // END panel
  // END row